/* mobile first */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    height: fit-content;
    width: 100%;
}

#grid_wrapper {
    position: relative;
    top: 5rem;
    min-height: 100vh;
    display: grid;
    background-image: url(/img/bakgrundsbild_slutprojekt.jpg);   /* på något sätt scala baserat på upplösning/storlek, bakgrudnsbild här innebär samma bild på alla sidor, kanske vill ändra det senare, main täcker inte hela sida i nuläget så blir lite konstigt */

    grid-template-columns: 1fr;
    grid-template-rows: 1fr 100px;
    grid-template-areas: 
    "ma"
    "fo";
}

header {
    z-index: 1; /* kom ihåg att inte använda för mycket */
    background: yellow;
    width: 100vw;
    height: 5rem;

    position: fixed;
    top: 0;

    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "h1 na";   
}

nav {
    grid-area: na;

    height: 5rem;

    background: green;

    display: flex;
    align-items: center;
    justify-content: space-around;

    /* space mellan länkar */

    /* @media-grej som förändras baserat på en javascriptlistener som lyssnar på scroll */
}

h1 {
    grid-area: h1;
    font-size: 4rem;
    /* styla texten */

    display: flex;
    justify-content: center;
    align-items: center;
}

.main_heading_invisible {   /* toggla för att göra ena h1:an osynlig */
    display: none;    /*alternativt flytta utanför skärmen ifall de inte tycker om att samsas om en gemensam plats*/
}

.nav_link {
    text-decoration: inherit;
    color: black;
}

main {
    display: grid;
    grid-area: ma;

    /* kanske bakgrundsbild här men är för dennas parent, tror inte det går, gör istället direkt på grid wrapper, kanske olika id på olika sidor */

}

#main_startsida {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "we"
    "se"
    "a1"
    "a2";
}

#welcome_text {
    background-color: red;
    grid-area: we;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search_bar {
    grid-area: se;
}

#startsida_nyheter1 {
    grid-area: a1;
}

#startsida_nyheter2 {
    grid-area: a2;
}

.mobile_item {
    display: flex;
    align-items: center;
}

footer {
    grid-area: fo;
    background-color: black;
    /* innehåll kanske i flera kolumner i desktop och bara en på mobil */
}


/* @media-grej för desktoplayout, förändrar grid och text i h1(till GCC) baserat på en javascriptlistener för scroll ner och upp, kanske uppdelat i flera steg*/
/* OBS, tillfällig condition */
@media screen and (min-width: 1000px) {
    #grid_wrapper {
        /* background: red */
        grid-template-columns: ;  /* flera kolumner, hur funkar detta om jag vill ha olika antal på olika sidor?*/
        grid-template-areas: 
        ""
        ""
        "";
        /* ändra till att saker ligger i flera kolumner, alternativt ändra från flex till grid i main */
    }

    /* annan header där titel är stor och över, ändra tillbaks till samma som mobile men kanske större när man scrollar ner */

}